@charset "UTF-8";
input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

@font-face {
  font-family: Neo_Sans;
  src: url("../fonts/Neo Sans Arabic Regular.ttf");
}
body {
  direction: rtl;
  font-family: Neo_Sans;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.product-like {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  color: #fff;
  width: 25px;
  height: 25px;
  background-color: #7d7d7d;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.product-like i {
  color: #fff !important;
}

.active-like {
  background-color: #ce1b1b;
}
.active-like i {
  color: #fff !important;
}

.top-header {
  padding: 10px;
}
.top-header .border-bottom {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.top-header .info select {
  border: 0;
}
.top-header .social {
  text-align: left;
}
.top-header .social i {
  color: #555;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.top-header .social i:hover {
  color: #82d7cd;
}

.upper-nav {
  padding: 5px;
}
.upper-nav .logo img {
  width: auto;
  height: auto;
  max-width: 135px;
  max-height: 55px;
}
.upper-nav .logo span {
  font-weight: bold;
}
.upper-nav .login {
  padding-top: 10px;
  margin-bottom: 0;
  text-align: left;
}
.upper-nav .login ul li {
  padding: 10px;
  display: inline-block;
}
.upper-nav .login ul li .btn-login {
  color: #444;
}
.upper-nav .login ul li .btn-login i {
  font-size: 14px;
  color: #82d7cd;
  margin-left: 5px;
}
.upper-nav .login ul li .btn-rigister {
  border: 2px solid #82d7cd;
  color: #82d7cd;
}
.upper-nav .login ul li .btn-rigister i {
  font-size: 14px;
  color: #82d7cd;
  margin-left: 5px;
}
.upper-nav .login ul li .btn-rigister:hover {
  background-color: #82d7cd;
  color: #fff;
  border: 2px solid #82d7cd;
}
.upper-nav .login ul li .btn-rigister:hover i {
  color: #fff;
}
.upper-nav .login ul li .btn-add-ads {
  background-color: #82d7cd;
  border: 2px solid #82d7cd;
  color: #fff;
}
.upper-nav .login ul li .btn-add-ads:hover {
  background-color: #fff;
  border: 2px solid #82d7cd;
  color: #82d7cd;
}
.upper-nav .login ul li:last-child {
  border-right: 1px solid #ddd;
}

.login .dropdown .dropdown-toggle img {
  width: 41px;
  max-height: 41px;
  border-radius: 5px;
}
.login .dropdown .dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none;
}

.pagination {
  overflow: auto;
  margin-top: 40px;
}
.pagination .page-item .page-link {
  border: 0;
  color: #82d7cd;
}
.pagination i {
  color: #82d7cd;
}
.pagination .active .page-link {
  border-radius: 50%;
  background-color: #82d7cd;
  color: #fff;
}

.header-slider .slider-item {
  background-size: cover;
  height: 375px;
  background-position: center;
}
.header-slider .slick-prev {
  left: 25px;
  z-index: 9;
}
.header-slider .slick-prev::before {
  content: "";
  width: 45px !important;
  height: 85px !important;
  display: inline-block;
  background-color: #fff;
  z-index: 9 !important;
  line-height: 85px;
  font-size: 20px;
  text-align: center;
  color: #000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.header-slider .slick-next {
  right: 0;
}
.header-slider .slick-next::before {
  content: "";
  width: 45px !important;
  height: 85px !important;
  display: inline-block;
  background-color: #fff;
  z-index: 9 !important;
  line-height: 85px;
  font-size: 20px;
  text-align: center;
  color: #000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-content {
  background-color: #eef4f6;
  padding-bottom: 90px;
}

.search-bar {
  width: 100%;
  z-index: 999;
}
.search-bar form {
  background-color: #82d7cd;
  height: 80px;
  padding: 20px;
}
.search-bar form .row .col-lg-5,
.search-bar form .row .col-lg-3,
.search-bar form .row .col-lg-2,
.search-bar form .row .col-lg-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.search-bar form .form-group {
  position: relative;
}
.search-bar form .form-group .form-control {
  border-radius: 5px;
  border: 0;
  height: calc(1.5em + 0.75rem + 10px);
  font-size: 15px;
}
.search-bar form .form-group .select-control {
  padding-right: 25px;
}
.search-bar form img {
  position: absolute;
  top: 18.2%;
  margin-right: 5px;
  width: 8.5%;
  z-index: 2;
}
.search-bar form .car-select {
  width: 8% !important;
}
.search-bar form .car-select,
.search-bar form .all-mark {
  right: 1%;
}
.search-bar form .btn {
  border: 0;
  border-radius: 5px;
  padding: 0 !important;
  height: calc(1.5em + 0.75rem + 10px);
  width: 100%;
  background-color: #000;
}
.search-bar form .btn i {
  color: #fff;
}
.search-bar form .btn:hover {
  background-color: #fff;
}
.search-bar form .btn:hover i {
  color: #82d7cd;
}

.header img {
  max-height: 375px;
}

.departments .all-deps {
  background-color: #fff;
  padding: 30px;
}
.departments .card {
  text-align: center;
  border: 0;
  background-color: transparent;
}
.departments .card .card-img {
  height: 109px;
  border-radius: 50%;
  background-color: #1dcbc7;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.departments .card .card-img img {
  max-height: 130px;
  margin: auto;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0, -50%);
  transition: all 0.5s ease;
}
.departments .card .card-title {
  font-size: 15px;
  margin-top: 7px;
  color: #000;
}
.departments .card:hover .card-img img {
  right: 4%;
}

.new-ads-most-words {
  margin-top: 30px;
}
.new-ads-most-words .side-bar .card {
  border: 0;
  background-color: transparent;
}
.new-ads-most-words .side-bar .card .card-header {
  background-image: linear-gradient(to right, #a3e3cc, #66cdcd);
  border: 0;
  text-align: center;
}
.new-ads-most-words .side-bar .card .card-header h5 {
  font-size: 16px;
  margin: 0;
}
.new-ads-most-words .side-bar .card .card-body {
  padding: 0;
  padding-top: 20px;
}
.new-ads-most-words .side-bar .card ul li {
  display: inline-block;
}
.new-ads-most-words .side-bar .card ul li a {
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 5px;
  color: #626262;
  margin: 5px;
  font-size: 14px;
}
.new-ads-most-words .new-arrival .head {
  text-align: right;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  position: relative;
}
.new-ads-most-words .new-arrival .head .nav-pills {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
}
.new-ads-most-words .new-arrival .head .nav-pills .nav-link {
  background-color: #fff;
  color: #626262;
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  font-size: 14px;
}
.new-ads-most-words .new-arrival .head .nav-pills .active {
  background-color: #626262;
  color: #fff;
}
.new-ads-most-words .new-arrival .new-added-cards {
  margin-top: 20px;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard {
  padding: 10px;
  border: 0;
  border-radius: 9px;
  transition: all 0.5s ease;
  display: block;
  background-color: #fff;
  margin-bottom: 20px;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-img {
  position: relative;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-img img {
  max-height: 235px;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-img .type {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-footer {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-footer h6,
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-footer span {
  font-size: 12px;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-footer i {
  color: #82d7cd;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-footer h6 {
  margin: 0;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 11px;
  line-height: 28px;
  color: #000;
  display: inline-block;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard:hover {
  background-color: #82d7cd;
}
.new-ads-most-words .new-arrival .new-added-cards .newcard:hover .card-title,
.new-ads-most-words .new-arrival .new-added-cards .newcard:hover i,
.new-ads-most-words .new-arrival .new-added-cards .newcard:hover h6,
.new-ads-most-words .new-arrival .new-added-cards .newcard:hover span {
  color: #000;
}
.new-ads-most-words .btn-add-more {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #82d7cd;
}
.new-ads-most-words .btn-add-more:hover {
  background-color: #82d7cd;
  color: #000;
}

.search-and-search-result {
  padding-bottom: 70px;
}
.search-and-search-result .card-search {
  margin-top: 50px;
}
.search-and-search-result .card-search .card-header {
  border: 0;
  margin-bottom: 10px;
}
.search-and-search-result .card-search .search-form {
  padding: 10px;
}
.search-and-search-result .card-search .search-form .form-group .form-control {
  font-size: 13px;
}
.search-and-search-result .card-search .search-form .btn-submit .btn {
  background-color: #82d7cd;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}
.search-and-search-result .card-search .search-form .btn-submit .btn:hover {
  background-color: transparent;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}
.search-and-search-result .new-ads-most-search {
  margin-top: 50px !important;
}
.search-and-search-result .arange {
  position: absolute;
  top: 10px;
  left: 40px;
}
.search-and-search-result .arange span {
  font-size: 15px;
}
.search-and-search-result .arange .select-arrange {
  border-radius: 5px;
  border: 0;
  width: 150px;
  font-size: 13px;
  padding: 5px;
}

.new-ads-most-search {
  margin-top: 80px;
}
.new-ads-most-search .most-search .most-search-header {
  background-color: #f5f5f5;
  height: 50px;
  text-align: right;
  color: #626262;
}
.new-ads-most-search .most-search .most-search-header h5 {
  line-height: 50px;
  font-size: 20px;
}
.new-ads-most-search .new-arrival .newcard {
  border: 1px solid #ddd !important;
}

.my-account .newcard .card-footer {
  margin-top: 10px;
}
.my-account .newcard .card-footer .btn {
  width: 100%;
  background-color: #82d7cd;
  color: #fff;
}
.my-account .newcard .card-footer .btn:hover {
  background-color: #fff;
  color: #000;
}
.my-account .newcard .card-footer .btn-delete {
  background-color: #000;
}

.seller-page {
  margin-top: 70px;
  margin-bottom: 110px;
}
.seller-page .seller-info .card {
  background-color: #fbfbfb;
  border-radius: 14px;
  position: relative;
  padding: 52px;
  padding-right: 180px;
}
.seller-page .seller-info .card .card-img {
  position: absolute;
  right: 0;
  height: 137px;
  max-width: 139px;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 6px;
}
.seller-page .seller-info .card .card-img img {
  border-radius: 16px;
}
.seller-page .seller-info .card .card-text,
.seller-page .seller-info .card .card-title {
  margin: 0;
}
.seller-page .seller-info .card .card-title {
  margin-bottom: 13px;
}
.seller-page .seller-info .card .card-text {
  color: #82d7cd;
}
.seller-page .seller-info .card .card-text:last-child {
  color: #000;
  margin-top: 10px;
}
.seller-page .new-ads-most-words .new-arrival .new-added-cards .newcard {
  border: 1px solid #ddd !important;
}

.add-ads-add {
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
}
.add-ads-add .card-header {
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  border: 0;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 15px;
}
.add-ads-add form {
  text-align: right;
  margin-top: 20px;
}
.add-ads-add form input,
.add-ads-add form select,
.add-ads-add form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.add-ads-add form input::placeholder,
.add-ads-add form select::placeholder,
.add-ads-add form textarea::placeholder {
  font-size: 13px;
}
.add-ads-add form select {
  background-color: transparent;
  padding: 5px !important;
  color: #444;
  font-size: 14px;
  border-radius: 10px;
}
.add-ads-add form input[type=file] {
  border: 0;
  margin-top: 0;
}
.add-ads-add form .add-pic {
  color: #82d7cd;
  margin-top: 20px;
  font-weight: bold;
}
.add-ads-add form button[type=submit] {
  border: 1px solid #82d7cd;
  background-color: #82d7cd;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.add-ads-add .form-group label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.add-ads-add .form-group .form-control {
  border-radius: 6px;
}
.add-ads-add .add-iframe {
  border-radius: 6px;
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-ads-add .btn-add-submit {
  width: 150px;
}
.add-ads-add .btn-add-submit:hover {
  background-color: #fff;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}

.input-group .form-control {
  border: 1px solid #e9e9e9;
  border-right: 0;
  background-color: #fafafa;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input-group .form-control::placeholder {
  color: #999;
  font-size: 15px;
}
.input-group .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.input-group .input-group-text {
  border: 1px solid #e9e9e9;
  border-left: 0;
  background-color: #fafafa;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-group .input-group-text i {
  color: #82d7cd;
}
.input-group .input-group-append .btn {
  border-right: 0;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  color: #666;
}
.input-group .input-group-append .btn:focus {
  outline: 0;
  box-shadow: none;
}
.input-group .form-control-input-prepent {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.input-group .select-country-prepend select {
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.login-rigister {
  margin-bottom: 70px;
  margin-top: 70px;
}
.login-rigister .rigister-login-form {
  background-color: #fff;
  box-shadow: 0 3px 68px rgba(0, 0, 0, 0.09);
  padding: 60px;
}
.login-rigister .rigister-login-form .form-header {
  margin-bottom: 50px;
}
.login-rigister .rigister-login-form .form-group .form-control {
  height: 55px;
}
.login-rigister .rigister-login-form .remember {
  display: block;
  margin-top: 24px;
  margin-bottom: 10px;
}
.login-rigister .rigister-login-form .btn-rigister,
.login-rigister .rigister-login-form .btn-login {
  color: #fff;
  margin-top: 28px;
  height: 50px;
  background-color: #82d7cd;
}
.login-rigister .rigister-login-form .btn-rigister:hover,
.login-rigister .rigister-login-form .btn-login:hover {
  background-color: #fff;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}

.my-account {
  margin-bottom: 90px;
}
.my-account .my-account-navs {
  border: 1px solid #f5f5f5;
  margin-top: 50px;
  border-radius: 6px;
}
.my-account .my-account-navs .card-header {
  background-color: #f5f5f5;
  font-size: 18px;
  border-bottom: 0;
  height: 60px;
  line-height: 60px;
  padding: 0;
  padding-right: 10px;
}
.my-account .my-account-navs .nav-link {
  padding: 0px;
  padding: 0 20px 0 20px;
  line-height: 65px;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0;
  color: #555;
  font-size: 15px;
  height: 65px;
}
.my-account .my-account-navs .nav-link img {
  width: 20px;
  margin-left: 5px;
}
.my-account .my-account-navs .active {
  color: #000;
  background-color: #f7f7f7;
}
.my-account .log-out {
  margin-top: 10px;
}
.my-account .log-out .btn {
  background-color: #82d7cd;
  color: #fff;
  width: 100%;
}
.my-account .log-out .btn:hover {
  background-color: #fff;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}
.my-account .tab-content {
  margin-top: 50px;
}
.my-account .tab-content .most-search-header {
  background-color: #f5f5f5;
  height: 50px;
  text-align: right;
  color: #626262;
  border-radius: 8px;
}
.my-account .tab-content .most-search-header h5 {
  line-height: 50px;
  font-size: 17px;
}
.my-account .tab-content .account-info-form {
  margin-top: 30px;
}
.my-account .tab-content .account-info-form .form-group label {
  font-size: 15px;
}
.my-account .tab-content .account-info-form .form-group .form-control {
  height: 50px;
}
.my-account .tab-content .account-info-form .form-group .form-control:focus {
  outline: 0 !important;
  box-shadow: none;
}
.my-account .tab-content .account-info-form .btn-submit {
  text-align: center;
  margin-top: 10px;
}
.my-account .tab-content .account-info-form .btn-submit .btn {
  background-color: #82d7cd;
  color: #fff;
  width: 40%;
}
.my-account .tab-content .account-info-form .btn-submit .btn:hover {
  background-color: #fff;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}
.my-account .messages .card {
  border: 1px solid #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  margin-top: 25px;
}
.my-account .messages .card h5 {
  font-size: 15px;
}
.my-account .messages .card p {
  font-size: 13px;
  color: #626262;
}

.show-ads {
  margin-bottom: 90px;
}
.show-ads .slider-top {
  margin-top: -14px;
}
.show-ads .slider-top .item-slide {
  position: relative;
}
.show-ads .slider-top .item-slide img {
  width: auto;
  max-width: 100%;
  margin: auto;
  height: 400px;
}
.show-ads .slider-top .item-slide:focus {
  outline: 0 !important;
}
.show-ads .slider-top .item-slide .special-ads {
  z-index: 3;
  display: inline-block;
  position: absolute;
  background-color: #82d7cd;
  border: 1px solid #82d7cd;
  width: 60px;
  padding: 10px !important;
  text-align: center;
  color: #fff;
  left: 2%;
  top: 10px;
}
.show-ads .slider-top .slick-prev {
  left: 3%;
  z-index: 99;
}
.show-ads .slider-top .slick-prev::before {
  content: "";
  font-size: 15px;
  background-color: #000 !important;
}
.show-ads .slider-top .slick-next {
  right: 5%;
  bottom: 0;
}
.show-ads .slider-top .slick-next::before {
  content: "";
  font-size: 15px;
  background-color: #000 !important;
}
.show-ads .slider-bottom {
  margin-top: 10px;
}
.show-ads .slider-bottom .item-slide {
  height: 130px;
  background-size: cover;
  background-position: center;
}
.show-ads .slider-bottom .item-slide:focus {
  outline: 0 !important;
}
.show-ads .department-links a {
  font-size: 14px;
  margin-left: 5px;
  background-color: #c5c5c5;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.show-ads .ads-info .ads-header {
  position: relative;
  margin-top: 40px;
}
.show-ads .ads-info .ads-header .adss-number {
  font-size: 14px;
  margin-top: 5px;
}
.show-ads .ads-info .ads-header .share-add {
  position: absolute;
  left: 0;
  top: -10px;
}
.show-ads .ads-info .ads-header .share-add a {
  color: #585858;
}
.show-ads .ads-info .ads-header .share-add a i {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #eef4f6;
  color: #82d7cd;
  text-align: center;
  line-height: 53px;
  font-size: 20px;
}
.show-ads .ads-info .ads-header .header-ads {
  margin-top: 15px;
  font-size: 20px;
}
.show-ads .ads-info .ads-header .ads-information {
  margin-top: 30px;
  background-color: #f7f7f7;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.show-ads .ads-info .ads-header .ads-information i {
  color: #585858;
  margin-left: 5px;
}
.show-ads .ads-info .ads-header .ads-information a {
  color: #585858;
  font-size: 14px;
}
.show-ads .ads-info .table-infor {
  margin-top: 40px;
}
.show-ads .ads-info .table-infor .table {
  margin-bottom: 0 !important;
}
.show-ads .ads-info .table-infor td {
  padding-right: 40px !important;
}
.show-ads .ads-info .table-infor td .question {
  font-weight: bold;
}
.show-ads .ads-info .table-infor h6 {
  font-size: 22px;
  color: #82d7cd;
  padding-right: 20px;
  padding-top: 10px;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .table-infor .table-word {
  margin: 0 !important;
  padding: 0 !important;
}
.show-ads .ads-info .table-infor .options-btn a {
  display: inline-block;
  margin-top: 10px;
  padding: 0;
  line-height: 65px;
  background-color: #f7f7f7;
  width: 100%;
  height: 65px;
}
.show-ads .ads-info .table-infor .options-btn a i {
  margin-left: 5px;
  color: #444;
}
.show-ads .ads-info .table-infor .options-btn a:hover {
  background-color: #82d7cd;
  color: #fff;
}
.show-ads .ads-info .table-infor .options-btn a:hover i {
  color: #fff;
}
.show-ads .ads-info .table-infor .descr h6 {
  font-size: 22px;
  padding-right: 20px;
  padding-top: 10px;
  color: #82d7cd;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .table-infor .descr .desr-par {
  color: #444;
  line-height: 30px;
}
.show-ads .ads-info .contact-data {
  border: 1px solid #ddd;
  margin-top: 20px;
}
.show-ads .ads-info .contact-data .card-header {
  border: 0;
}
.show-ads .ads-info .contact-data h6 {
  font-size: 22px;
  padding-right: 20px;
  padding-top: 10px;
  color: #82d7cd;
  margin: 10px 0px 20px 0px;
}
.show-ads .ads-info .contact-data ul {
  padding: 0;
  padding-right: 20px;
}
.show-ads .ads-info .contact-data ul li {
  display: inline-block;
  margin-left: 20px;
}
.show-ads .ads-info .contact-data ul li i {
  font-size: 20px;
  margin-left: 10px;
  color: #444;
}
.show-ads .ads-info .contact-data ul li span {
  font-size: 20px;
  color: #444;
}
.show-ads .ads-info .social-media {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.show-ads .ads-info .social-media span {
  margin-top: 35px;
  display: inline-block;
  width: 15%;
}
.show-ads .ads-info .social-media span i {
  color: #888;
  font-size: 30px;
}
.show-ads .ads-info .social-media span i:hover {
  color: #82d7cd;
}
.show-ads .ads-info form {
  margin-top: 50px;
}
.show-ads .ads-info form input {
  border: 0;
  border: 1px solid #ddd;
  padding: 10px;
}
.show-ads .ads-info form button {
  padding: 10px;
  background-color: #82d7cd;
  border: 0;
  border: 1px solid #82d7cd;
  color: #fff;
}
.show-ads .comments .rebort {
  display: inline-block;
  color: #82d7cd;
  margin-bottom: 10px;
}
.show-ads .comments .rebort span {
  font-size: 13px;
  margin-right: 2px;
}
.show-ads .comments h6 {
  font-size: 25px;
  padding-right: 20px;
  color: #82d7cd;
  padding-top: 10px;
  margin: 10px 0px 20px 0px;
  position: relative;
}
.show-ads .comments h6 i {
  color: #82d7cd;
  font-size: 25px;
}
.show-ads .comments .on-comment {
  border: 1px solid #eee;
  position: relative;
  padding: 15px;
  padding-right: 15px;
  padding-bottom: 2px !important;
}
.show-ads .comments .on-comment .com-name {
  font-size: 15px;
  font-weight: bold;
}
.show-ads .comments .on-comment .com-word {
  font-size: 14px;
  color: #888;
}
.show-ads .comments .on-comment .time {
  position: absolute;
  top: 10%;
  left: 1%;
  font-size: 10px;
  color: #444;
}
.show-ads .add-comment {
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
}
.show-ads .add-comment::before {
  position: absolute;
  content: "";
  top: -1%;
  width: 100%;
  height: 2px;
  background-color: #eee;
}
.show-ads .add-comment .head-comment-add {
  color: #1c75bc;
  width: 15%;
  background-color: #fff;
  border: 1px solid #fff;
  position: absolute;
  top: -5%;
  left: 45%;
  text-align: center;
  font-size: 15px;
}
.show-ads .add-comment .comment-form {
  margin-top: 0;
}
.show-ads .add-comment .comment-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  height: calc(1.5em + 0.75rem + 10px);
}
.show-ads .add-comment .comment-form .form-control::placeholder {
  font-size: 13px;
}
.show-ads .add-comment .comment-form .comment-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #f4f4f4;
}
.show-ads .add-comment .comment-form .comment-textarea::placeholder {
  font-size: 13px;
}
.show-ads .add-comment .comment-form button {
  border: 1px solid #e2b833;
  background-color: #e2b833;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.show-ads .add-comment .comment-form button:hover {
  background-color: transparent;
  color: #e2b833;
  border: 1px solid #e2b833;
}
.show-ads .similar-ads-head {
  font-size: 16px;
  color: #82d7cd;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 20px;
}
.show-ads .related-ads {
  margin-top: 30px;
}
.show-ads .related-ads .top-price {
  display: inline-block;
  color: #626262;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #f8fbfb;
}
.show-ads .related-ads h6 {
  margin-top: 15px;
  font-size: 22px;
  color: #82d7cd;
}
.show-ads .related-ads h6 i {
  color: #2b79c3;
  font-size: 25px;
}
.show-ads .related-ads .card-person-info {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 45px;
}
.show-ads .related-ads .card-person-info .card-img {
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.show-ads .related-ads .card-person-info .card-title {
  font-size: 22px;
}
.show-ads .related-ads .card-person-info .rate i {
  color: #82d7cd;
}
.show-ads .related-ads .card-person-info .btn {
  background-color: #66cdcd;
  color: #fff;
  margin-top: 10px;
  padding: 11px;
}
.show-ads .related-ads .card-person-info .btn:hover {
  background-color: #fff;
  color: #82d7cd;
  border: 1px solid #82d7cd;
}
.show-ads .related-ads .send-msg {
  margin-top: 10px;
}
.show-ads .related-ads .send-msg a {
  background-color: #a3e3cc;
  color: #fff;
  padding: 11px;
}
.show-ads .related-ads .send-msg a:hover {
  background-color: #fff;
  color: #82d7cd;
  border: 1px solid #82d7cd;
}

.reset-passowrd .reset-pass-card {
  background-color: #fff;
  box-shadow: 0 3px 68px rgba(0, 0, 0, 0.09);
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-top: 74px;
  margin-bottom: 100px;
  text-align: center;
}
.reset-passowrd .reset-pass-card h5 {
  margin-bottom: 56px;
  font-size: 20px;
  font-weight: bold;
}
.reset-passowrd form .form-control {
  height: 50px;
}
.reset-passowrd form .btn {
  background-color: #82d7cd;
  color: #fff;
  padding: 12px;
  margin-top: 34px;
}
.reset-passowrd form .btn:hover {
  background-color: #fff;
  border: 1px solid #82d7cd;
  color: #82d7cd;
}

.reset-passowrd-step-2 h5 {
  margin-bottom: 27px !important;
}
.reset-passowrd-step-2 img {
  width: auto;
  max-height: 115px;
  margin-bottom: 47px;
}
.reset-passowrd-step-2 p {
  width: 50%;
  margin: auto;
  font-size: 16px;
  color: #707070;
  margin-bottom: 45px;
}
.reset-passowrd-step-2 .not-sent {
  margin-top: 30px;
}
.reset-passowrd-step-2 .not-sent a {
  color: #82d7cd;
}

.personal-img {
  margin-bottom: 60px;
  padding-right: 105px;
  position: relative;
}
.personal-img .personal-img-validation-delete {
  color: #f00;
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -50px;
  display: none;
}
.personal-img .per {
  width: 82px;
  height: 82px;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  border: 3px solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 15px;
}
.personal-img .card-title {
  margin: 0;
  font-size: 14px;
  color: #626262;
  margin-top: 10px;
  cursor: pointer !important;
}
.personal-img .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  cursor: pointer !important;
}
.personal-img .btn {
  color: #82d7cd;
  cursor: pointer !important;
  text-align: right;
  padding: 0;
  background-color: #82d7cd;
  color: #fff;
  width: 128px;
  text-align: center;
  height: 45px;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 10px;
}
.personal-img .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

footer {
  background-image: linear-gradient(180deg, #66cdcd, #a3e3cc);
  padding-top: 100px;
}
footer .logo-content-logo p {
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
footer .logo-content-logo .btn-commition .btn {
  border: 2px solid #cecccc;
  color: #fff;
  width: 100%;
  padding: 15px;
  text-align: right;
  border-radius: 11px;
}
footer .logo-content-logo .country-city i,
footer .logo-content-logo .country-city span {
  color: #fff;
  font-size: 14px;
}
footer .logo {
  text-align: right;
  position: relative;
  color: #fff;
}
footer .logo img {
  width: auto;
  height: auto;
  max-width: 134px;
  max-height: 55px;
  margin-bottom: 10px;
}
footer .logo .logo-content {
  text-align: right;
}
footer .logo .logo-content p {
  margin: 0;
}
footer .help-content {
  padding-top: 10px;
}
footer .help-content ul li {
  margin-top: 10px;
  position: relative;
  padding-right: 10px;
  float: right;
  width: 50%;
}
footer .help-content ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
footer .help-content ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff700;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
footer .social-content {
  padding-top: 10px;
}
footer .social-content .social i {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  transition: all 0.5s ease;
  font-size: 20px;
}
footer .social-content .social i:hover {
  color: #000;
}
footer .social-content input {
  padding: 8px;
  background-color: #fff;
  border: 0;
  width: 100%;
  color: #444 !important;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}
footer .social-content input::placeholder {
  color: #444;
  opacity: 1;
  /* Firefox */
}
footer .social-content button {
  border: 0 !important;
  background-color: #000;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
footer .social-content button:hover {
  background-color: #fff;
  color: #82d7cd;
}
footer .copy {
  background-color: #82d7cd;
  padding: 20px;
  position: relative;
  margin-top: 50px;
}
footer .copy .container {
  border-top: 1px solid #9f9f9f;
  padding-top: 10px;
}
footer .copy h5 {
  margin: 0;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
}

@media (max-width: 1026px) {
  .departments .card .card-img {
    height: 76px;
  }
}
@media (max-width: 800px) {
  .upper-nav .login ul {
    text-align: right;
  }

  .upper-nav .login .hello {
    margin-right: 30px !important;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .upper-nav .login {
    text-align: right;
  }
  .upper-nav .my-account-option {
    width: 100%;
  }

  .login {
    text-align: right;
  }

  .login .login-form .txt-l {
    text-align: center;
  }

  .search-bar form {
    height: auto !important;
  }

  .departments .card .card-img {
    height: 109px;
  }

  footer .social-content {
    margin-top: 30px;
  }

  .search-bar form .car-select {
    width: 6% !important;
  }

  .search-bar form img {
    width: 6.5% !important;
  }

  .reset-passowrd .reset-pass-card {
    width: 100%;
  }
}
@media (max-width: 524px) {
  .upper-nav .login ul {
    text-align: center;
  }

  .upper-nav .login ul li:last-child {
    border: 0;
  }

  .upper-nav .login .hello {
    margin-right: 0px !important;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .top-header {
    text-align: center;
  }

  .top-header .social {
    text-align: center;
    margin-top: 10px;
  }

  .upper-nav .logo {
    text-align: center;
  }

  .seller-page .seller-info .card {
    padding-right: 0;
    text-align: center;
    padding: 0;
    padding: 20px 0 20px 0;
  }

  .seller-page .seller-info .card .card-img {
    position: unset;
    transform: none;
    margin: auto;
  }

  .login-rigister .rigister-login-form {
    padding: 30px;
  }

  .my-account .tab-content .account-info-form .btn-submit .btn {
    width: 100%;
  }

  .show-ads .ads-info .ads-header .share-add {
    position: unset;
  }

  .new-ads-most-words .new-arrival .head .nav-pills {
    position: unset;
    transform: none;
    margin-top: 25px;
  }

  .new-ads-most-search .most-search .most-search-header {
    height: auto;
    padding-bottom: 20px;
  }

  .search-and-search-result .arange {
    position: unset;
  }
}
.header-slider .slick-prev::before, .header-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.show-ads .slider-top .slick-prev::before, .show-ads .slider-top .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.show-ads .slider-top .slick-prev::before, .show-ads .slider-top .slick-next::before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #82d7cd;
}

/*# sourceMappingURL=style.css.map */
